{% macro PZPaypal(class='', title=false, button_text=false, button_icon='', agreement_one='', agreement_two='') %}
  <pz-form class="checkout-paypal js-paypal-form {{ class }}" service="Checkout" action="completeRedirectionPayment">
    <div class="checkout-payment-type__head">
      <span class="checkout-payment-type__head-title">
        {{ _(title or 'PayPal Info') }}
      </span>
    </div>

    <div class="checkout-payment-type__content">
      {% if caller %}
        {{ caller() }}
      {% else %}
        <div class="checkout-payment-type__description">
          <div class="checkout-payment-complete"> {# checkout-credit-card__complete #}
            <div class="checkout-payment-complete-agreement">
              <label class="checkout-payment-complete-agreement__label">
                <pz-checkbox
                  class="checkout-payment-complete-agreement__input js-checkout-agreement-input"
                  name="agreement"
                  v-required
                ></pz-checkbox>

                <p class="checkout-payment-complete-agreement__label-text">
                  {% autoescape false %}
                    {% set default_agreement_one = '<span data-modal=".js-agreement-one" class="checkout-payment-complete-agreement__label-action">{}</span>'.format(_('Agreement One')) %}
                    {% set default_agreement_two = '<span data-modal=".js-agreement-two" class="checkout-payment-complete-agreement__label-action">{}</span>'.format(_('Agreement Two')) %}

                    {{ _('Check here to indicate that you have read and agree to the terms of {} and {}.').format(agreement_one or default_agreement_one, agreement_two or default_agreement_two) }}
                  {% endautoescape %}
                </p>
              </label>

              <div class="checkout-error js-agreement-error" hidden></div>
            </div>

            <div class="checkout-payment-complete-errors js-form-errors" hidden></div>

            <pz-button
              class="checkout__submit js-checkout-complete-button"
              icon="{{ button_icon or 'chevron-end' }}"
              icon-position="right"
              type="submit"
              w-full
            >
              {{ _(button_text or 'Pay with PayPal') }}
            </pz-button>
          </div>
        </div>
      {% endif %}
    </div>
  </pz-form>
{% endmacro %}
